:root{
        --maincolor: #4B4453;
        --sidecolor: #845EC2;
}
/* product page */
#product {
    /* padding-bottom: 10px; */
    width: max-content;
    position: relative;
    margin: .5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* padding: 10px; */
    /* background-color: cadetblue; */
    /* border-radius: 5px; */
    box-shadow: 0px 0px 5px 0px;
    border: 1px solid black;
}

/* headings and sub headings */
#product>h2 {
    width: 100%;
    display: inline;
    padding: 5px;
    background-color: cadetblue;
    /* border-radius: 5px; */
    color: white;
    font-weight: 700;
    border-bottom: 1px solid black;
    text-align: center;
    /* box-shadow: 0px 0px 5px 0px; */
    /* border: 1px solid black; */
}

/* form section */
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 10px;
}

/* inputs */
#productName {
    width: 220px;
    height: 30px;
    padding-left: 5px;
    border: 2px solid cadetblue;
    /* border-radius: 5px; */
    outline: none;
}

#selectCategory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
#selectCategory>select {
    border: 2px solid cadetblue;
    height: 30px;
    outline: none;
    /* border-radius: 5px; */
}

#fileInput {
    border: 2px solid cadetblue;
    padding: 3px;
    width: 220px;
    height: 30px;
}

#form>textarea {
    border: 2px solid cadetblue;
    width: 220px;
    /* border-radius: 5px; */
    outline: none;
    padding: 2px 0px 0px 5px;
}
/* button */
#form>#btn {
    width: 100px;
    height: 30px;
    background-color: cadetblue;
    border: 1px solid;
    /* border-radius: 5px; */
    box-shadow: none;
    transition: 0.3s;
    font-weight: 700;
    font-size: 18px;
}

#form>#btn:hover {
    box-shadow: 3px 3px 1px 0px black;
    transition: 0.3s;
    cursor: pointer;
}

#form>#btn:active {
    transform: scale(0.85);
    transition: 0.3s;
}
#msg{
    border: 1px solid;
    padding: 1px 5px 1px 5px;
}